.header-container {

    padding: 1rem 0;

    .header {
        margin: 1rem 1rem ;
        display: flex;
        justify-content: space-between;
        align-items: center;

        font-size: 1.2rem;

        .logo {
            margin-top: -1rem;
            font-family: 'Dancing Script', cursive;

            a {
                text-decoration: none;
                color: white;
            }
        }

        .main-date {
            margin-top: -2.5rem;

            .fa {
                margin-left: .5rem;
                background:  none;
            }
        }

        .flip-btn {
            display: flex;
            gap: 1rem;
            overflow: hidden;

            padding: .2rem .5rem;
            // border: 2px dotted;
            border: none;
            background: none;
            

            font-size: 1.5rem;

            cursor: pointer;

            span {
                animation-name: arrow;
                animation-duration: 2s;
                animation-iteration-count: infinite;
                animation-timing-function: ease-in-out;

            }

            .none {
                display: block;
                transition: 1s;
            }


            @keyframes arrow {
                // 0% {transform: scale(.5);}
                // 50% {transform: scale(1);}
                // 100% {transform: scale(.5);}
            }

            

            &:hover span{
                animation-play-state: paused;
            }
        }
    }

}

