@media (max-width: 720px) {
    
    .nav-title {
        display: flex;

        .anchor {
            all: unset !important;
            display: flex;
            flex-direction: column;
        }
    }

    .navbtn::before {
      display: none;
    }

    .main {
        all: unset !important;
        display: flex;

        h2 {
            margin-bottom: 1rem;
        }

        p {
            margin-bottom: 1rem;
        }
    }

    .header {

        .date {
            display: none;
        }
    }

    .down-section {
        display: block !important;

        .main {
            all: unset !important;
            width: 80%;
            
            h3, h1 {
                text-align: center;
            }


            h1 {
                font-size: 3rem !important;
                width: 90%;

                margin-top: 2rem;
                margin: 2rem auto 0;

                // border: 1px solid red;
            }

            .basebtn {
                margin: 5rem auto;
            }
        }
    }
}